<div>
    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    U.S. Drone Strikes: 2008-present
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default" type="button">Filter</span>
                        </span>
                        <input type="text" class="form-control" placeholder="Country, location..." ng-model="searchParam">
                    </div>
                </div>
                <table class="bootstrap-table table table-striped table-hover table-responsive"
                       data-toggle="table"
                       data-pagination="true"
                       data-search="true">
                    <tr>
                        <th>Date</th>
                        <th>Country</th>
                        <th>Location</th>
                        <th>Total Deaths</th>
                        <th>Total Injuries</th>
                        <th>Deaths: Civilians</th>
                        <th>Deaths: Children</th>
                        <th>Lat</th>
                        <th>Lon</th>
                    </tr>
                    <tr ng-repeat="strike in droneData | filter:searchParam" ng-click="onStrikeClick(strike)">
                        <td>{{strike.date | date: 'MMMM d, y'}}</td>
                        <td>{{strike.country}}</td>
                        <td>{{strike.location}}</td>
                        <td>{{strike.deaths}}</td>
                        <td>{{strike.injuries}}</td>
                        <td>{{strike.civilians}}</td>
                        <td>{{strike.children}}</td>
                        <td>{{strike.lat}}</td>
                        <td>{{strike.lon}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-xs-4" ng-cloak>
            <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
        </div>
    </div>
</div>

