<div>
    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    U.S. Drone Strikes: 2008-present
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default" type="button">Filter</span>
                        </span>
                        <input type="text" class="form-control" placeholder="Country, location..." ng-model="searchParam">
                    </div>
                </div>
                <table id="drone-strike-table" class="bootstrap-table table table-striped table-hover table-responsive"
                       data-toggle="table"
                       data-search="true">
                    <tr>
                        <th>
                            <a href="#/" ng-click="orderByField='date'; reverseSort = !reverseSort">
                                Date<span ng-show="orderByField == 'date'"><span ng-show="!reverseSort"> ^</span><span ng-show="reverseSort"> v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#/" ng-click="orderByField='country'; reverseSort = !reverseSort">
                                Country<span ng-show="orderByField == 'country'"><span ng-show="!reverseSort"> ^</span><span ng-show="reverseSort"> v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#/" ng-click="orderByField='location'; reverseSort = !reverseSort">
                                Location<span ng-show="orderByField == 'location'"><span ng-show="!reverseSort"> ^</span><span ng-show="reverseSort"> v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#/" ng-click="orderByField='deaths'; reverseSort = !reverseSort">
                                Deaths<span ng-show="orderByField == 'deaths'"><span ng-show="!reverseSort"> ^</span><span ng-show="reverseSort"> v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#/" ng-click="orderByField='injuries'; reverseSort = !reverseSort">
                                Injuries<span ng-show="orderByField == 'injuries'"><span ng-show="!reverseSort"> ^</span><span ng-show="reverseSort"> v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#/" ng-click="orderByField='civilians'; reverseSort = !reverseSort">
                                Civilians killed<span ng-show="orderByField == 'civilians'"><span ng-show="!reverseSort"> ^</span><span ng-show="reverseSort"> v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#/" ng-click="orderByField='children'; reverseSort = !reverseSort">
                                Children killed<span ng-show="orderByField == 'children'"><span ng-show="!reverseSort"> ^</span><span ng-show="reverseSort"> v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#/" ng-click="orderByField='lat'; reverseSort = !reverseSort">
                                Lat<span ng-show="orderByField == 'lat'"><span ng-show="!reverseSort"> ^</span><span ng-show="reverseSort"> v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#/" ng-click="orderByField='lon'; reverseSort = !reverseSort">
                                Lon<span ng-show="orderByField == 'lon'"><span ng-show="!reverseSort"> ^</span><span ng-show="reverseSort"> v</span></span>
                            </a>
                        </th>
                    </tr>
                    <tr dir-paginate="strike in droneData | filter:searchParam | orderBy:orderByField:reverseSort | itemsPerPage:12" ng-click="onStrikeClick(strike)">
                        <td>{{strike.date | date: 'MMMM d, y'}}</td>
                        <td>{{strike.country}}</td>
                        <td>{{strike.location}}</td>
                        <td>{{strike.deaths}}</td>
                        <td>{{strike.injuries}}</td>
                        <td>{{strike.civilians}}</td>
                        <td>{{strike.children}}</td>
                        <td>{{strike.lat}}</td>
                        <td>{{strike.lon}}</td>
                    </tr>
                    <dir-pagination-controls
                            id="drone-pagination-controls"
                            max-size="5"
                            auto-hide="false"
                            direction-links="true"
                            boundary-links="true" >
                    </dir-pagination-controls>
                </table>
            </div>
        </div>
        <div class="col-xs-4" ng-cloak>
            <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
        </div>
    </div>
</div>

